body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

h1 {
    color: #ff758c;
}

p {
    color: #333;
}

.buttons {
    margin-top: 20px;
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: transform 0.2s ease; /* Añadido para suavizar el cambio de tamaño */
}

.yes {
    background-color: #4CAF50;
}

.yes:hover {
    background-color: #45a049;
}

.no {
    background-color: #f44336;
}

.no:hover {
    background-color: #e53935;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.hearts {
    font-size: 40px;
    color: #ff69b4;
    animation: heartBeat 1s infinite;
}

@keyframes heartBeat {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.5); }
}
